{% extends 'clients/base.html' %}

{% block content %}
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">E-mail</th>
                <th scope="col">Name</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'clients:client_detail' object.pk %}" class="nav-link">{{ object.pk }}</a></td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.name }}</td>
                    <td>{{ object.comment|truncatechars:100 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}