{% extends 'clients/base.html' %}

{% block content %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">{{ object.name|title }}, {{ object.email }}</p>
                <p class="card-text">{{ object.comment }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if user == object.owner or user.is_superuser %}
                            <a type="button" class="btn btn-sm btn-outline-secondary"
                               href="{% url 'clients:client_update' object.pk %}">Edit</a>
                            <a type="button" class="btn btn-sm btn-outline-secondary"
                               href="{% url 'clients:client_delete' object.pk %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}