<header data-bs-theme="dark">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'mailings:mailings' %}" class="nav-link active" aria-current="page">Mailing list</a></li>
            <li class="nav-item"><a href="{% url 'clients:groups_list' %}" class="nav-link">My clients</a></li>
            <li class="nav-item"><a href="{% url 'mailings:mails' %}" class="nav-link">My mails</a></li>
            <li class="nav-item"><a href="{% url 'mailings:logs' %}" class="nav-link">My history</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </div>
</header>