<header data-bs-theme="dark">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Mailing list</a></li>
            <li class="nav-item"><a href="{% url 'clients:clients_list' %}" class="nav-link">Clients</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </div>
</header>