{% extends 'clients/base.html' %}

{% load my_tags %}

{% block content %}
    {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                {% if object.preview %}
                    <img class="card-img-top"
                         src="{{ object.preview|mediapath }}"
                         alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ object.post_title|title }}</p>
                    <p class="card-text">{{ object.text|truncatechars:100 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary"
                               href="{% url 'blog:post' object.pk %}">View</a>
                            {% if perms.blog.change_post %}
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'blog:post_update' object.pk %}">Edit</a>
                            {% endif %}
                            {% if perms.blog.delete_post %}
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                   href="{% url 'blog:post_delete' object.pk %}">Delete</a>
                            {% endif %}
                        </div>
                        <small class="text-body-secondary">{{ object.published_date }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}